{% extends "base.html" %}

{% block content %}
<div style="margin-top: 100px; margin-left: 50px;">
    <h1>Position List</h1>
    <a href="{% url 'position_create' %}" class="btn btn-primary mb-3">Add New Position</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Position Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ position.name }}</td>
                <td>
                    <a href="{% url 'position_edit' position.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'position_delete' position.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
